a {
    color: rgb(61, 179, 45);
    font-weight: bold;
}

p {
    text-indent: 35px;
    font-size: 18px;
    color: rgb(61, 179, 45);
}

p.title{
    font-size: 28px;
    text-align: left;
    color: rgb(61, 179, 45);
}

p.text{
    font-size: 18px;
    line-height: 35px;
    color: rgb(61, 179, 45);
}

p.end{
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    color: rgb(61, 179, 45);
}

#content{
    text-align: center;
    background: rgb(255, 255, 255); 
}

h1 {
    font-size: 36px;
    line-height: 40px;
    color: rgb(61, 179, 45);
}
h2 {
    font-size: 30px;
    line-height: 40px;
    color: rgb(61, 179, 45);
}
 
h3 {
    font-size: 24px;
    line-height: 40px;
    color: rgb(61, 179, 45);
}

img.product {
    width: 210px;
    height: 200px;
}

img.title {
    width: 80%;
    height: 80%;
}

ol {
    list-style-type: upper-roman;
    font-size: 20x;
    color: rgb(61, 179, 45);
}

ul{
    font-size: 20px;
    color: rgb(61, 179, 45);
}