p {
    text-indent: 35px;
    font-size: 20px;
}

p.title{
    font-size: 36px;
    text-align: center;
    color: rgb(83, 12, 56);
}

p.text{
    font-size: 20px;
    line-height: 35px;
}

p.end{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

#content{
    text-align: center;
    display: inline-block; 
    background: rgb(255, 255, 255); 
    padding: 5px; 
    border-radius: 15px; 
    margin: 5px 350px
}

h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
 
h3 {
    font-size: 24px;
    line-height: 40px;
}

img.product {
    width: 210px;
    height: 200px;
}

img.title {
    width: 80%;
    height: 80%;
}

ul {
    list-style-image: url(Images/ul_icon.png);
}

ol {
	list-style-type: none; 
	counter-reset: num;
	font-size: 20px;
}

ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;  
	color: #620d1c;
    font-size: 25px;
}