header {
    position: absolute;
    top: 50px;
    width: 500px;
    right: 10px;
}

footer {
    background-color:rgba(224, 214, 220, 0.383);
    position: fixed;
    bottom:0px; 
    right:0px; 
    width:700px;
}

p {
    text-indent: 35px;
    font-size: 20px;
}

p.title{
    font-size: 36px;
    text-align: center;
    color: rgb(83, 12, 56);
}

p.text{
    font-size: 20px;
    line-height: 35px;
}

p.end{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

#aboutUs {
    position: absolute;
    bottom: 0px;
    width: 600px;
    bottom:-560px;
    right: 260px;
}

#aboutUs-1a {
    position: relative;
    left: 440px;
    bottom: 140px;
}

#assort {
    display: inline-block; 
    background: rgb(255, 255, 255); 
    padding: 5px; 
    border-radius: 20px; 
    margin: 5px 50px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

#content{
    text-align: center;
    display: inline-block; 
    background: rgb(255, 255, 255); 
    padding: 5px; 
    border-radius: 15px; 
    margin: 5px 50px
}

#contact {
    margin: 50px 0 50px 0;
}

#contact-1 {
    position: relative;
    float: left;
    bottom: 0px;
    font-size: 20px;
}
#contact-2 {
    position: relative;
    float: left;
    bottom: 0px;
    font-size: 20px;
    margin-left: 30px;
}

h1 {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
 
h3 {
    font-size: 24px;
    line-height: 40px;
}

img.product {
    width: 210px;
    height: 200px;
}

img.title {
    width: 80%;
    height: 80%;
}

ul {
    list-style-image: url(Images/ul_icon.png);
}

ol {
	list-style-type: none; 
	counter-reset: num;
	font-size: 20px;
}

ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;  
	color: #620d1c;
    font-size: 25px;
}